.container {
  display: flex;
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  overflow: auto;
  overflow-x: auto;
}

/*스크롤바 안보이지만 스크롤시 스크롤 되도록*/
.container::-webkit-scrollbar {
  display: none;
}

.container_out {
  display: flex;
  flex-direction: column;
}

.container_title {
  display: flex;
  width: 1000px;
  margin: 0 auto;

}

.title {
  display: inline-block;
  padding: 5px 10px;
  color: white;
  background-color: #0056FF;
  border-radius: 15px;
}