@value agBlue, agGray, agTextGray from '../../common/colors.css';

.post {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #00000050;
    align-items: center;
    justify-content: center;
}

.box {
    width: 80%;
    height: 100%;
    background-color: agGray;
    font-size: 14px;
    padding: 0px;
    display: flex;
    box-shadow: 0px 4px 18px 10px #00000025;
}

.left {
    width: 65%;
    height: 100%;
    background-color: agTextGray;
}

.tags {
    display: flex;
    margin: 0;
    padding: 1.2rem 2rem 1.4rem 2rem;
    list-style: none;
}

.tags li {
    background-color: agBlue;
    color: white;
    float: left;
    margin-right: 30px;
    padding: 12px 15px;
    box-shadow: 0px 4px 4px 0px #00000025;
    border-radius: 32.5px;
    font-size: 17px;
    font-weight: 500;
}

.codes {
    margin: 0;
    width: 100%;
    height: 88%;
}

.cancel {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.right {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile__img {
    margin-top: 2.5rem;
    width: 144px;
    height: 144px;
    background: url('../../../public/images/profile.png') center/cover no-repeat;
    border-radius: 50%;
}

.name {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

.postTime {
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
    width: 100%;
}

.text {
    width: 90%;
    height: 35%;
    padding: 0 2rem;
    font-size: 16px;
    overflow-y: scroll;
}

.text::-webkit-scrollbar {
    display: none;
}

.text p {
    font-weight: 400;
}

.comments {
    width: 100%;
    height: 35%;
}

.commentsHeader {
    width: 90%;
    padding: 0 1rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.commentsHeader * {
    padding-right: 0.4rem;
}

.commentTitle {
    font-size: 15px;
    font-weight: 400;
}

.commentNumber {
    font-size: 13px;
    font-weight: 400;
}

.likeNum {
    font-size: 13px;
    font-weight: 400;
}

.commentsBox {
    height: 70%;
    overflow-y: scroll;
}

.commentsBox::-webkit-scrollbar {
    display: none;
}

.commentsInput {
    height: 20%;
}