.user {
    display: flex;
    align-items: center;
    padding: 0.8rem 2rem;
    border-top: 0.2px solid #343A4180;
}

.userImg {
    margin: 0.5rem;
    width: 54px;
    height: 54px;
    background: url('../../../public/images/profile.png') center/cover no-repeat;
    border-radius: 50%;
}

.info {
    display: flex;
    flex-direction: column;
}

.info p {
    margin: 6px 10px;
    font-size: 13px;
}

.name {
    font-weight: 700;
}

.text {
    font-weight: 400;
}