@value agBlue, agWhite from '../../common/colors.css';

.box {
    width: 150px;
    height: 65px;
    background-color: agBlue;
    color: white;
    box-shadow: 0px 4px 4px 0px #00000025;
    border-radius: 32.5px;
    margin: 2rem 2rem 0 2rem;
}

.title {
    margin-left: 1rem;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 12px;
}

.text {
    margin: 0 3.2rem;
    font-weight: 300;
    font-size: 25px;
}