/* 나눔 스퀘어 */
@font-face {
  font-family: "NanumSquare";
  font-weight: 300;
  src: url("../public/fonts/NanumSquareL.ttf");
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 400;
  src: url("../public/fonts/NanumSquareR.ttf");
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 500;
  src: url("../public/fonts/NanumSquareB.ttf");
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 700;
  src: url("../public/fonts/NanumSquareEB.ttf");
}