@value agBlue from "../../common/colors.css";

.headerBox{
    height: 94px;
    display:flex;
    align-items: center;
}

.nav__logo{
    position: absolute;
    left: 8%;
}

.agLogoImg{
    background: url('../../../public/images/agLogo.svg') no-repeat;
    width: 90px;
    height: 47px;
}

.navKey__container{
    width:565px;
    height: 51px;
    padding: 12px 0px;
    position:absolute;
    right: 8%;

    display:flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.navKey{
    font-weight:700;
    font-size: 12pt;
    text-decoration: none;
    color: agBlue;
    padding: 10px;
}