.iconImg{
    position: absolute;
    width: 80px;
    height: 80px;
    right: 73px;
    bottom: 56px;
    background: url('../../../public/images/posticon.svg') no-repeat;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.3));
}
